@media all and (max-width: 740px) {
	.blue { margin-top: 0; border-top: 0; }	
}

@media all and (max-width: 600px) {
	.equation { font-size: 24px; }
	.table, .table .cell.green-cell, .table .cell { font-size: 14px; }	
	.table .cell div { padding: 8% 17%; }
}

@media all and (max-width: 520px) {
	.column { margin: 0 0 25px 0; float: none; width: 100%; }	
}